<!DOCTYPE html>
<html lang="en">
<head>
    <title>auth</title>
    <link rel="stylesheet" href="../static/auth.css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <!--    <link rel="import" href="./lang.html"/>-->
</head>
<body>

<!--<script>-->
<!--    let link = document.querySelector("link[rel=import]");-->
<!--    let content = link.import.querySelector('.lang');-->
<!--    document.body.appendChild(content.cloneNode(true));-->
<!--</script>-->

<div class="auth_reg_reset_wrap">
    <div class="lang">
        Русский
        <img src="../static/vector.png" alt="vector">
    </div>

    <div class=content_wrap>
        <div class="title">
            Войти
        </div>

        <form>
            <div class="inputs auth_row_gap">
                <input class="login_img padding_input" name="email" type="email" placeholder="Адрес электронной почты"/>
                <input class="password_img padding_input" name="password" type="password" placeholder="Пароль"/>
            </div>
            <div class="medium_text text small_text">
                <a class="a" href="auth.html">
                    Забыли пароль?
                </a>
            </div>

            <button name="login" type="submit" class="butt">Войти</button>
        </form>

        <div class="link">
            <div class="thin_text small_text">
                Нет аккаунта?
            </div>
            <a class="a" href="reg1.html">
                <div class="bold_text small_text">Зарегистрироваться</div>
            </a>
        </div>
    </div>
</div>
</body>
</html>