<!DOCTYPE html>
<html lang="en">
<head>
    <title>auth</title>
    <link rel="stylesheet" href="../static/auth.css" />
    <link rel="stylesheet" href="../static/auth_reg_reset_elements.css" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="import" href="./lang.html"/>
</head>
<body>

<script>
    let link = document.querySelector("link[rel=import]");
    let content = link.import.querySelector('.lang');
    document.body.appendChild(content.cloneNode(true));
</script>

<!--<div class="auth_reg_reset_wrap">-->
<!--    -->

<!--</div>-->



<!--<div class=content_wrap>-->
<!--    <div className={v.title}>-->
<!--        <Title title={'Войти'}/>-->
<!--            </div>-->
<!--            <form>-->
<!--            <div className={v.input}>-->
<!--            <input mame="" type={"email"} placeholder={"Адрес электронной почты"}/>-->
<!--            </div>-->
<!--            <div className={v.input}>-->
<!--            <input mame="" type={"password"} placeholder={"Пароль"}/>-->
<!--            </div>-->
<!--            <div className={v.text}>-->
<!--            <Small_text message={"Забыли пароль?"}/>-->
<!--            </div>-->
<!--            <div className={v.butt}>-->
<!--            <Button message={"Войти"}/>-->
<!--            </div>-->
<!--            </form>-->
<!--            <div className={v.link}>-->
<!--            <Light_text message={'Нет аккаунта?'}/>-->
<!--            <NavLink to="/registration">-->
<!--            <Bold_text message={'Зарегистрироваться'}/>-->
<!--            </NavLink>-->
<!--            </div>-->
<!--            </div>-->


</body>
</html>