<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="../static/auth_reg.css" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="wrap">
    <div class="content_wrap">
        <div>
            <img class="img_logo" src="../static/bars.png" alt="ff"/>
        </div>
        <div class="text">
            <div class="title">Псковский барс</div>
            <div class="smallText">Приложение для трекинга посещения секции, достижений, спортивных мероприятий внутри
                клуба
            </div>
        </div>
        <div class="links">
            <a class="link bg_red" href="auth.html" >Регистрация</a>
            <a class="link bg_lightGrey" href="auth.html">Войти</a>
        </div>
    </div>
</div>
</body>
</html>